BODY,P,TD{font-size:14px;font-family:ARIAL}.smaller{font-size:10px;font-family:ARIAL}.larger{font-size:24px;font-family:ARIAL}a:link{color:#0066FF;text-decoration:none


}a:visited{color:#0066FF;text-decoration:none
}a:hover{color:red;text-decoration:none
}a:active{color:#0066FF;text-decoration:none



